
.block_new{
  padding-top: 24px;
  margin-right: 72px;
  margin-left: 72px;
  padding-bottom: 48px;
}
.flex1{
  display: flex;
  flex-direction: column;
}
.card_block {
  background: #EEEEEE;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 28px;
  padding-bottom: 164px;
}

.flex{
  display: flex;
  justify-content: space-between;
}
#deleteFavourite:focus{
  outline: none;
}
#deleteFavourite {
  /* margin-top: 2px;
  margin-bottom: 5px; */
  height: 40px;
  cursor: pointer;
  display: block;
  /* width: 256px; */
  background: #94624D;
  border-radius: 2px;
  font-family: PT Root UI Web;
  font-style: normal;
  /* font-weight: 700; */
  border: none;
  font-size: 18px;
  line-height: 16px;
  color: #EDEEDF;
}
.card_img{
  margin-top: 21px;
  height: 144px;
}
.card_img img{
  width: 100%;
  height: 144px;
  border-radius: 2px;
  object-fit: cover;
}

#post_author,
#post_date,
#point {
  font-family: PT Root UI Web;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #94624D;
}
#post_title{
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  color: #000000;
  margin: 0;
}
.block-author{
  margin-top: 5px;
}
#article_content a {
  color: #0e9102;
}
.mobile{
  display: none;
}
@media (max-width: 950px) {
  .flex1{
    flex-direction: column-reverse;
  }
  .flex {
    flex-direction: column;
  }
  .block_new {
    padding-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom: 33px;
  }
  .block-author{
    margin-bottom: 9px;
    display: flex;
    flex-direction: column;
  }
  .block-author #post_author,
  .block-author #post_date {
    font-weight: 300;
  }

  #point{
    display: none;
  }
  .mobile{
    display: block;
  }
  #post_title{
    margin-bottom: 9px;
  }
  .card_img {
    margin-top: 14px; 
    height: 96px;
  }
  .card_img img{
    height: 96px;
  }
  .card_block{
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 16px;
  }

}