
<body><div class="block_new">
  <div class="card block">
<div id="article_content">
</div>
  </div>
</div>
<app-comment-viewer></app-comment-viewer>

<form [formGroup]="myForm">
<input type="text" formControlName="name" class="form-control" placeholder="Введите имя" required>
<input type="text" formControlName="comment" class="form-control" placeholder="Введите комментарий" required>
  <div>
  <!--
    the SITE_KEY is the sitekey from your admin console.
    use form control for validation
  -->
  <re-captcha (resolved)="resolved($event)"
              formControlName="recaptchaReactive"
              siteKey="6Lcd5PMUAAAAAC86xKhg5Ow0Y1ikl27UkBnLknuZ">
  </re-captcha>
</div>
<input type="submit" class="editor-btn btn-normal" value="Сохранить"(click)="onSave()" >
</form>



