<div class="flex">
    <div class="wrap-flex">
        <img src="/assets/midlogo.png" alt="Логотип" >
        <h1>Войдите или зарегистрируйтесь, чтобы начать</h1>
    </div>

    <form [formGroup]="myForm" class="wrap-grid"> 
        <div></div>
        <div class="wrap-flex2"> 
            <h2 class="active">Вход</h2>
            <h2>Регистрация</h2>
        </div> 
        <div class="label">Имя</div>
        <div class="input-form" >
            <input type="text" (click)="inputName=true; placeholderName='Введите имя'" [ngClass]="{'red': !inputName}" formControlName="name" class="form-control" [placeholder]="placeholderName" >
            <small (click)="inputName=true; placeholderName='Введите имя'" *ngIf="(!inputName) && (!fieldRequired)" >Данное поле обязательное!</small>
        </div>
        <div class="label">Фамилия</div>
        <div class="input-form">
            <input (click)="inputSurname=true; placeholderSurname='Введите фамилию'" type="text"  [ngClass]="{'red': !inputSurname}" formControlName="surname" class="form-control" [placeholder]="placeholderSurname" required>
            <small (click)="inputSurname=true; placeholderSurname='Введите фамилию'" *ngIf="(!inputSurname) && (!fieldRequired)" >Данное поле обязательное!</small>
        </div>
        <div class="label">Организация</div>
        <div class="input-form">
            <input (click)="inputOrganization=true; placeholderOrganization='Введите организацию'" type="text"  [ngClass]="{'red': !inputOrganization}" formControlName="organization" class="form-control" [placeholder]="placeholderOrganization">
            <small (click)="inputOrganization=true; placeholderOrganization='Введите организацию'"  *ngIf="(!inputOrganization) && (!fieldRequired)" >Данное поле обязательное!</small>
        </div>
        <div class="label">Роль</div>
        <div class="input-form">
            <input (click)="inputRole=true; placeholderRole='Введите роль'" type="text"  [ngClass]="{'red': !inputRole}" formControlName="role" class="form-control" [placeholder]="placeholderRole">
            <small (click)="inputRole=true; placeholderRole='Введите роль'"  *ngIf="(!inputRole) && (!fieldRequired)" >Данное поле обязательное!</small>
        </div>
        <div class="label">Логин</div>
        <div class="input-form">
            <input (click)="inputLogin=true; loginExist=true; placeholderLogin='Введите логин'" type="text"  [ngClass]="{'red': !inputLogin}" formControlName="login" class="form-control" [placeholder]="placeholderLogin" >
            <small (click)="inputLogin=true; loginExist=true; placeholderLogin='Введите логин'" *ngIf="!loginExist">Данный логин уже существует!</small>
            <small (click)="inputLogin=true; loginExist=true; placeholderLogin='Введите логин'" *ngIf="(!inputLogin) && (!fieldRequired)" >Данное поле обязательное!</small>
        </div>
        <div class="label">Пароль</div>
        <div class="input-form">
            <input (click)="inputPassword=true; placeholderPassword='Введите пароль'" [type]="type"  [ngClass]="{'red': !inputPassword}" formControlName="password"  class="form-control" [placeholder]="placeholderPassword">
            <small (click)="inputPassword=true; placeholderPassword='Введите пароль'" *ngIf="(!inputPassword) && (!fieldRequired)" >Данное поле обязательное!</small>
            <div class="icon insideField" (click)="onTogglePassword()">
                <img *ngIf="type=='password'" src="/assets/eye.png" alt="Показать/спрятать пароль">
                <img *ngIf="type=='text'" src="/assets/eye.png" alt="Показать/спрятать пароль">
           </div>
        </div>
        <div></div>
        <button class="btn" (click)="onRegistr()" >Регистрация</button>
    </form>

    

</div>
