<h1 class="title-com">Комментарии</h1>
<form class="form-com" [formGroup]="myFirstReactiveForm"(submit)="onSave()">
  <input *ngIf="flag" class= "input-com" type="text" id="comment" formControlName="comment" placeholderComment="Ваш комментарий" [placeholder]="placeholderComment"/>
  <input *ngIf="!flag" class= "input-com" type="text" id="comment" formControlName="comment" placeholderComment="Ваш комментарий" [placeholder]="placeholderComment" disabled/>
  <small *ngIf="!flag && (placeholderComment=='')" class="dangerous">Авторизируйтесь, чтобы оставить комментарий</small>
  <!-- <div>
  <re-captcha (resolved)="resolved($event)"
              formControlName="recaptchaReactive"
              siteKey="6Lcd5PMUAAAAAC86xKhg5Ow0Y1ikl27UkBnLknuZ">
  </re-captcha>
  </div> -->
  <input class="btn-com" type="submit"  value="Отправить">
</form>
<div class="comment" *ngFor="let comment of comments">
  <div class="header-com">
    <div class="user-com">
  <!-- <div class="image-for-user-com"></div> -->
  <h1 class="name-com">{{comment.name_commentator}}</h1>
</div>
  <p class="time-com">{{comment.date_comment }}</p>
</div>
  <p class="text-com">{{comment.text_comment}}</p>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
