<form [formGroup]="myFirstReactiveForm"(submit)="onSave()">
  <h1>Оставить комментарий</h1>
  <label for="comment">Комментарий</label> <br>
  <input type="text" id="comment" formControlName="comment" />
  <br/><br/>
<!--  <div>-->
<!--  <re-captcha formControlName="recaptchaReactive" siteKey="6Lcd5PMUAAAAAC86xKhg5Ow0Y1ikl27UkBnLknuZ">-->
<!--  </re-captcha>-->
<!--</div>-->
  <input type="submit" value="Отправить">
</form>

<div class="comment" *ngFor="let comment of comments">
  <h1>{{comment.name_commentator}}</h1>
  <p class="time">{{comment.date_comment | pipeTimeComment}}</p>
  <p>{{comment.text_comment}}</p>
  </div>
  
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
