.title-com{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    margin-left: 4.75rem;
}
/* стили формы */
.form-com{
    margin: 0 0 1.5rem 4.5rem;
    width: 47.5rem;
    height: 7.5rem;
    background: #EEEEEE;
    border: 2px solid #94624D;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.btn-com{
    margin-top: 0.5rem;
    margin-left: 38.8rem;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
    display: block;
    background: #94624D;
    border-radius: 2px;
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    border: none;
    color: #EDEEDF;
}
.btn-com:hover{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.btn-com:focus{
    outline: none;
}

.dangerous{
    color: #944545;
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    display: block;
    position: absolute;
    width: 100%;
    margin-top: -2.3rem;
    margin-left: 0.5rem;
}

.input-com{
    background: #EEEEEE;
    height: 3.2rem;
    width: 45.7rem;
    margin: 0.7rem 0 0 0.5rem;
    border: none;
}
.input-com:focus{
    outline: none;
}


/* стили вывода комментариев */
.comment{
    margin: 1rem 0 1rem 6rem;
    min-height: 10rem;
    width: 44.5rem;
    background: #EEEEEE;
    border-radius: 2px;
}
.header-com{
    display: flex;
}

.image-for-user-com{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #C4C4C4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.name-com{
    font-family: PT Astra Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.user-com{
    display: flex;
    width: 36rem;
}

.time-com{
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0.69rem;
    right: 1rem;
    color: #94624D;
}

.text-com{
    font-family: PT Astra Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    margin: 0rem 11rem 0 1.5rem;
    padding-bottom: 1rem;
}

@media (max-width: 420px) {
    .title-com{
        font-size: 22px;
        line-height: 24px;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.25rem;
        width: 18rem;
    }
    /* Форма */
    .form-com{
        margin: 0 auto;
        width: 18rem;
        height: 4rem;
    }
    
    .btn-com{
        margin-top: 0.1rem;
        margin-left: 13.6rem;
        width: 4rem;
        height: 1.5rem;
        font-size: 10px;
    }
      
    .dangerous{
        width: 15rem;
        margin-top: -1.4rem;
        margin-left: 0.5rem;
    }
    
    .input-com{
        height: 1.2rem;
        width: 16.5rem;
        margin: 0.7rem 0 0 0.5rem;
    }
      /* Вывод комментариев */
    .comment{
        margin: 0 auto;
        width: 18rem;
        min-height: 6.5rem;
        background: #EDEEDF;
        /* background: #e7f712; */
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    .image-for-user-com{
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 0.5rem;
        margin-left: 0.1rem;
    }
    
    .name-com{
        font-size: 14px;
        line-height: 16px;
        margin-top: 0.3rem;
        margin-left: 0.5rem;
    }
    
    .user-com{
        width: 14.5rem;
    }
    /* Доделать */
    .header-com{
        display: flex;

    }

    .time-com{
        font-size: 9px;
        line-height: 9px;
        margin-top: 0.69rem;
        right: 1rem;
    }
    
    .text-com{
        font-size: 12px;
        line-height: 12px;
        margin: -1rem 11rem 0 1rem;
        padding-bottom: 1rem;
    }
}