<h2>Редактирование созданной статьи</h2>
<div class="loader-wrap" *ngIf="loading; else afterLoading">
  <app-loader></app-loader>
</div>
<ng-template #afterLoading>
  <div class="table-wrap" *ngIf="path==='editarticle' && id===''">
    <table class="table">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Заголовок</th>
          <th>Дата</th>
        </tr>
        <tr *ngFor="let post of posts" [routerLink]="[ '/admin', 'editarticle', post.id_materials]">
          <td>{{post.id_materials}}</td>
          <td>{{post.title}}</td>
          <td>{{post.createdAt}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-admin-editor *ngIf="id!==''" class="table" [(data)]="data" [fromList]="true" [id]="id"></app-admin-editor>
</ng-template>
