<div class="back-to-my-courses">
    <button class="button-back" (click)="backToMyCourses()">Вернуться к курсам</button>
    <h1 class="title">Название</h1>
</div>
<app-course-material></app-course-material>
<ul id="nav">   
    <li><a href="#">МАТЕРИАЛЫ КУРСА</a></li>
    <li><a href="#">Раздел 1. Название раздела</a>
        <ul>
            <li><a href="#" class="active">1. Материал 1</a></li>
            <li><a href="#">2. Материал 2</a></li>
        </ul>
    </li>
    <li><a href="#">Раздел 2. Название раздела</a>
        <ul>
            <li><a href="#">1. Материал 1</a></li>
            <li><a href="#">2. Материал 2</a></li>
            <li><a href="#">3. Материал 3</a></li>
        </ul>
    </li>
    <li><a href="#">Раздел 3. Название раздела</a></li>
</ul>
    