.editor-background {
  max-width: 90%;
  margin: 0px auto;
  border-radius: 100px;
  /* padding: 70px 60px; */
  /* padding-top: 90px; */
  /* background: #eef5fa; */
  position: relative;
  padding-bottom: 1rem;
}

.editor-wrap {
  padding: 70px 50px;
  border-radius: 8px;
  box-shadow: 0 24px 24px -18px rgba(69, 104, 129, .33),
    0 9px 45px 0 rgba(114, 119, 160, .12);
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.editor-btn-wrap {
  /* position: absolute; */
  top: 18px;
  /* left: calc(50% - 50px); */
  right: 60px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.editor-btn-wrap>* {
  margin-bottom: 0.5rem;
}

.editor-btn,
.editor-input {
  width: 100px;
  border: 0px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  cursor: pointer;
  transition: 0.15s ease-out;
}

.editor-input {
  color: #000;
  margin-right: 16px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
  width: 400px;
  font-size: 1.8rem;
}

.editor-input:first-child {
  /* width: 100%; */
}

.input-secondary {
  font-size: 1.1rem;
  width: 140px;
}

.editor-btn {
  user-select: none;
}

.editor-btn:focus {
  outline: 0px;
}

.editor-btn:not(:last-child) {
  margin-right: 8px;
}

.btn-normal {
  background-color: #2034e9;
  box-shadow: 2px 2px 20px #2034e9;
}

.btn-info {
  background-color: #20a9e9;
  box-shadow: 2px 2px 20px #20a9e9;
}

.btn-normal:hover {
  background-color: #606ee7;
  box-shadow: 1px 1px 10px #606ee7;
}

.btn-danger {
  background-color: #e92020;
  box-shadow: 2px 2px 20px #e92020;
}

.btn-danger:hover {
  background-color: #e76060;
  box-shadow: 1px 1px 10px #e92020;
}

h2 {
  padding: 0.8rem 1rem;
  margin: 0;
}

.modal-btn-wrap {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
}

.modal-btn-wrap>button {
  width: 100%;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

app-modal .relative h2 {
  margin-bottom: 0.5rem;
}

app-modal p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
