<app-modal *ngIf="modal" [title]="'Вы уверены, что хотите безвозвратно удалить статью #' + id + '?'"
  (closeModal)="onCloseModal()">
  <p>Вы не сможете восстановить изменения</p>
  <div class="modal-btn-wrap">
    <button class="editor-btn btn-danger" type="button" (click)="onDelete()">
      Удалить статью
    </button>
  </div>
</app-modal>
<h2 *ngIf="this.data == undefined">Создание новой статьи</h2>
<div class="editor-background">
  <div class="editor-btn-wrap">
    <input class="editor-input" type="text" name="" placeholder="Заголовок статьи" [(ngModel)]="title" />
    <label for="file">Выберите заглавное фото</label>
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" accept="image/jpg, image/png" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length"
      class="editor-btn btn-upload">
      Загрузить файл
    </button>
    <input class="editor-input" type="text" name="" placeholder="Файл на сервере" [(ngModel)]="filepath" disabled />
    <!-- <button class="editor-btn btn-normal" type="button" (click)="onSave()" *ngIf="this.data == undefined"
      [disabled]="!filepath || !title">
      Сохранить
    </button>
    <img [src]="env.baseUrl + '/uploads/'+ filepath" alt="" *ngIf="filepath" width="306" height="194">
    <button class="editor-btn btn-info" type="button" (click)="onUpdate()" *ngIf="this.data !== undefined">
      Обновить
    </button>
    <button class="editor-btn btn-danger" type="button" (click)="onDeleteAsk()">
      Удалить
    </button> -->
  </div>
  <div class="editor-wrap">
    <div id="editorjs"></div>
  </div>
  <div class="editor-btn-wrap">
    <button class="editor-btn btn-normal" type="button" (click)="onSave()" *ngIf="this.data == undefined"
      [disabled]="!filepath || !title">
      Сохранить
    </button>
    <img [src]="env.baseUrl + '/uploads/'+ filepath" alt="" *ngIf="filepath" width="306" height="194">
    <button class="editor-btn btn-info" type="button" (click)="onUpdate()" *ngIf="this.data !== undefined">
      Обновить
    </button>
    <button class="editor-btn btn-danger" type="button" (click)="onDeleteAsk()">
      Удалить
    </button>
  </div>
</div>
