<h2 *ngIf="this.data == undefined">Создание новой статьи</h2>
<div class="editor-background">
  <div class="editor-wrap">
    <div id="editorjs"></div>
  </div>
  <div class="editor-btn-wrap">
    <input class="editor-input" type="text" name="" placeholder="Заголовок статьи" [(ngModel)]="title">
    <!-- <input class="editor-input input-secondary" type="text" name="" placeholder="Длительность" [(ngModel)]="duration"> -->
    <select class="editor-input input-secondary" placeholder="Длительность" [(ngModel)]="duration" name="">
      <option disabled>Выберите длительность</option>
      <option value="30 минут" selected>30 минут</option>
      <option value="1 час">1 час</option>
      <option value="2 час">2 час</option>
    </select>
    <button class="editor-btn btn-normal" type="button" (click)="onSave()" *ngIf="this.data == undefined">
      Сохранить
    </button>
    <button class="editor-btn btn-info" type="button" (click)="onUpdate()" *ngIf="this.data !== undefined">
      Обновить
    </button>
    <button class="editor-btn btn-danger" type="button" (click)="onDelete()" disabled>
      Удалить
    </button>
  </div>
</div>
