<div class="loader-wrap" *ngIf="loading; else afterLoading">
  <app-loader></app-loader>
</div>

<ng-template #afterLoading>
<div class="flex">
  <div class="wrap-flex">
    <img src="/assets/midlogo.png" alt="Логотип">
    <h1>Войдите или зарегистрируйтесь, чтобы начать</h1>
  </div>
  <form [formGroup]="myForm" class="wrap-grid">
    <div class="none-mobile"></div>
    <div class="wrap-flex2">
      <h2 class="active">Вход</h2>
      <h2 [routerLink]="['/registration']">Регистрация</h2>
    </div>
    <div class="label">
      <span>Логин
        <small class="req">*</small>
      </span>
    </div>
    <div class="input-form" (click)=" placeholderLogin='Введите логин'">
      <input (keyup)="  placeholderLogin='Введите логин'" type="text" formControlName="login" class="form-control"
        [placeholder]="placeholderLogin">
      <small *ngIf="(!loginNotRight) && (placeholderLogin=='') ">Неверный логин или пароль!</small>
      <small *ngIf="(placeholderLogin=='') && (!fieldRequired)">Данное поле обязательное!</small>
    </div>
    <div class="label">
      <span>Пароль
        <small class="req">*</small>
      </span>
    </div>
    <div class="input-form" (click)=" placeholderPassword='Введите пароль'">
      <input (keyup)=" placeholderPassword='Введите пароль'" [type]="type" formControlName="password"
        class="form-control" [placeholder]="placeholderPassword">
      <small *ngIf="(!loginNotRight) && (placeholderPassword=='')">Неверный логин или
        пароль!</small>
      <small *ngIf="(placeholderPassword=='') && (!fieldRequired)">Данное поле обязательное!</small>
      <div class="icon insideField" (click)="onTogglePassword()">
        <img *ngIf="type=='password'" src="/assets/eye.png" alt="Показать/спрятать пароль">
        <img *ngIf="type=='text'" src="/assets/eye-outline.png" alt="Показать/спрятать пароль">
      </div>
    </div>
    <div class="none-mobile"></div>
    <div class="div-for-button">
      <button class="btn" (click)="onLogin()">Войти</button>
      <p class="message "><span>*</span> - обязательные поля</p>
    </div>
  </form>
</div>

</ng-template>
