<div class="sidepanel">
  <a class="admin-menu-point" [routerLink]="['/admin']" routerLinkActive="router-link-active"
    [ngClass]="{'menu-point-active': path === ''}">Главная</a>
  <a class="admin-menu-point" [routerLink]="['/admin', 'newarticle']" routerLinkActive="router-link-active"
    [ngClass]="{'menu-point-active': path === 'newarticle'}">Создать
    статью</a>
  <a class="admin-menu-point" [routerLink]="['/admin', 'editarticle']" routerLinkActive="router-link-active" [ngClass]="{'menu-point-active': path ===
      'editarticle'}">Редактировать
    статью</a>
</div>
<div id="admin-wrap">
  <div class="mainpanel">
    <h1 *ngIf="path === ''">Административная панель</h1>
    <app-admin-editor *ngIf="path === 'newarticle'"></app-admin-editor>
    <app-admin-articles *ngIf="path === 'editarticle'" [path]="path">
    </app-admin-articles>
  </div>
</div>
