header{
    display: flex;
    height: 3rem;
    width: 100%;
    background: #1D1D1D;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    box-sizing: border-box;
    padding: 0 10px;
    justify-content: center;
}
.top-bar{
    width: 72rem;
    max-width: 1216px;
    padding: .5rem 0;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-basis: auto;
    align-items: center;
}
.minlogo{
    cursor: pointer;
    height: 2rem;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1.5rem;
}
.minlogo:focus{
    outline: none;
}
.devider{
    width: 1px;
    height: 2rem;
    margin-right: 1.5rem;
    border-left: 1px solid #EDEEDF;
}

.menu{
    display: flex;
    margin-right: auto!important;
}
.link{
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    color: #EDEEDF;
    cursor: pointer;
    margin-right: 1rem;
}
.active{
    font-weight: normal;
}

.navbar-collapse{
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    align-items: center;
}

.flex-wrap{
    width: 100%;
    display: flex;
    flex-basis: auto;
    align-items: center;
    flex-grow: 1;
    position: relative;
    justify-content: flex-end;
}

.nav-link{
    text-align: right;
    font-size: .75rem;
    line-height: 1rem;
    color: #EDEEDF;
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: 500;
    padding: 0rem .7rem;
    display: block;
    cursor: pointer;
}
.icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}
.triangle{
    cursor: default;
    position: absolute;
    top: -15px;
    left: 174px;
}
.add-menu{
    margin-right: 1.5rem;
}

.image-for-user{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: #C4C4C4;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.dropdown-menu{
    position: absolute;
    float: none;
    top: 48px;
    right: 40px;
    z-index: 1000;
    width: 14.5rem;
    padding: 1rem;
    color: #EDEEDF;
    list-style: none;
    background: #1D1D1D;
    border: 0.5px solid #EDEEDF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 2px 2px;
}
.devider-bottom{
    width: 12.5rem;
    border-bottom: 0.5px solid #EDEEDF;
    margin-top: 25px;
    margin-bottom: 7px;
}

.dropdown-item {
    cursor: pointer;
    display: block;
    box-sizing:border-box;
    width: 100%;
    clear: both;
    font-family: PT Root UI Web;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #EDEEDF;
}
.dropdown-item:focus, .dropdown-item:hover {
    font-weight: normal;
}
.center{
    text-align: right;
    padding: 0;
}